.container {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	align-items: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.title {
	margin-top: 10px;
	margin-right: 20px;
}

.clear {
	cursor: pointer;
	user-select: none;
	margin-top: 10px;
}

.clear::after {
	content: '';
	position: relative;
	top: -3px;
	display: block;
	height: 2px;
	width: transparent;
	background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 720px) {
	.container {
		font-size: 20px;
	}
}

@media (max-width: 600px) {
	.container {
		font-size: 18px;
	}
	.title {
		margin-right: 10px;
	}
}

@media (max-width: 400px) {
	.container {
		padding: 0 10px 10px 10px;
	}
}
