.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 10px;
}

.tag {
	border: 2px solid rgba(0, 0, 0, 0.5);
	background: rgb(233, 233, 233);
	padding: 2px 8px;
	margin-top: 10px;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
}

.tag:not(:last-child) {
	margin-right: 10px;
}

.activeFilterTag {
	background: rgb(161, 193, 230);
}
