ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.App {
	display: flex;
	justify-content: center;
	max-height: 100%;
	min-height: 0px;
	height: 100%;
}

.tabs {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 800px;
	width: 100%;
	margin: 25px 10px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.tabList {
	user-select: none;
	display: flex;
}

.tab {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex: 1 1 100px;
	text-align: center;
	background: #f1f1f1;
	cursor: pointer;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	position: relative;
	outline: none;
}

.tab:not(:last-child) {
	border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.selectedTab {
	background: #fff;
	border-bottom: 2px solid transparent;
}

.tabPanel {
	max-height: 100%;
	min-height: 0px;
	height: 100%;
	overflow: auto hidden;
}

.content {
	background: #fff;
	width: 100%;
	height: 100%;
	display: none;
}

@media (max-width: 720px) {
	.tabList {
		font-size: 18px;
	}
}

@media (max-width: 600px) {
	.tab {
		padding: 10px 5px;
	}
}

@media (max-width: 400px) {
	.tabList {
		font-size: 16px;
	}
	.tab {
		padding: 5px 5px;
	}
}
