.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 10px 10px 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.headerLeft {
	flex: 1 1 70%;
}

.author {
	margin-bottom: 10px;
}

.title {
	font-size: 28px;
	font-weight: 600;
}

.headerRight {
	display: flex;
	align-items: center;
}

.actionName {
	display: flex;
	user-select: none;
	cursor: pointer;
	margin-right: 5px;
}

.actionName span {
	margin-right: 5px;
}
.actionName span::after {
	content: '';
	position: relative;
	top: -3px;
	display: block;
	height: 2px;
	width: transparent;
	background: rgba(0, 0, 0, 0.5);
}

.description {
	font-size: 18px;
	margin-bottom: 10px;
}

@media (max-width: 720px) {
	.headerLeft,
	.headerRight {
		font-size: 18px;
	}
	.title {
		font-size: 22px;
		font-weight: 600;
	}
	.description {
		font-size: 14px;
	}
}

@media (max-width: 600px) {
	.header {
		display: block;
		margin-bottom: 10px;
	}

	.headerRight {
		margin-top: 5px;
		float: right;
	}
	.author {
		margin-bottom: 5px;
	}
	.title {
		font-size: 20px;
		font-weight: 600;
	}
	.description {
		margin-bottom: 0;
	}
}
