.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 10px 10px 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.headerLeft {
	flex: 0 1 70%;
}

.author {
	margin-bottom: 10px;
}

.title {
	font-size: 28px;
	font-weight: 600;
}

.headerRight {
	display: flex;
	align-items: center;
}

.actionName {
	display: flex;
	user-select: none;
	cursor: pointer;
	margin-right: 5px;
}

.actionName span {
	margin-right: 5px;
}
.actionName span::after {
	content: '';
	position: relative;
	top: -3px;
	display: block;
	height: 2px;
	width: transparent;
	background: rgba(0, 0, 0, 0.5);
}

.description {
	font-size: 18px;
	margin-bottom: 10px;
}

.description p {
	overflow: hidden;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	box-orient: vertical;
}

.description p::after {
	content: '.....';
}
